/* styles.css */

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.bg {
    background-image: url('https://source.unsplash.com/featured/?computer,technology,newyorkcity');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: #F0EDE5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container {
    padding: 20px;
}

h2, h3, a, p, button {
    color: white;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input[type="email"] {
    border: 2px solid #F0EDE5;
    background-color: transparent;
    color: white;
    padding: 8px;
}

button {
    padding: 10px 20px;
    background-color: #F0EDE5;
    color: black;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}